{% extends 'base.html' %}

{% block content %}
    {% if request.user.id == post.user.id %}
        <a href="{% url 'post:post_delete' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'post:post_update' post.id %}" class="btn btn-info">Update</a>
    {% endif %}
    <p> <a href="{% url 'accounts:user_profile' post.user.id %}">{{ post.user.username }} </a> - {{ post.updated |date:"Y-F"}}</p>
    <p> {{post.body}}</p> <hr>

    {% if request.user.is_authenticated %}
        <form action="" style="width: 30%;" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="send">
        </form>
    {% else %}
        <p class="alert alert-danger">only logged user can comment.</p>
    {% endif %}
    <p>{{comments.count}} comments </p>
    {% for c in comments %}
        <div class="card bg-dark text-light" style="margin-bottom: 5px;" >
            <p class="card-header">{{ c.user}} | {{ c.created|timesince }} ago</p>
            <p class="card-body">{{ c.body }}</p>
        </div>
    {% empty %}
        <div class="card bg-dark text-light">
            <p class="card-header">no comments yet</p>
        </div>
    {% endfor %}    

{% endblock %}